main h2 {
  margin: 12px 10px;
  border-bottom: 1px solid lightgray;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}



form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

@media all and (min-width 600px) {
  .group {
    padding: 0 10%;
  }
  .item {
    width: 50%;
  }
}